main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  display: none; /* hide the reset button initially */
  margin: 20px;
}

.message {
  display: none; /*hide all messages initially*/
}
